In [1]:
import pandas as pd
import numpy as np
import camelot # Used to read pdfs and vonvert them to tables. documentation: https://camelot-py.readthedocs.io/en/master/

# About original data

The Legislative composition data for years 2017-2023 comes from the National Conferance of State Legislatures [website](https://www.ncsl.org/about-state-legislatures/state-partisan-composition). The data has information on the party composition of state legislators for each state. It also has the party for each governor. This data needed some preprocessing to convert it into the wanted format of csv files as it is stored in pdf files. This codebook converts the pdf data into csv data that will be usable for our purposes. As this data comes directly from the NCSL, it seems to be pretty reliable.

# Reading in pdfs and converting to csv

In [3]:
#Read pdf as csv for the years 2017 through 2023
for year in range(2017,2024):
    table = camelot.read_pdf(f'Data/Legislative_Control_Data/Control_pdfs/Legis_Control_{year}.pdf')
    table.export(f'Data/Legislative_Control_Data/Control_readin_csvs/Legis_Control_{year}.csv', f='csv')

# Data wrangling for legislative control years 2017 to 2023

I thought I would have data up to 2023, this is why I made these extra years for the state legislative control. I am leaving them in this repository because they may be of use for future study.

## 2017 Data

In [4]:
#Read in 2017 data
legis_control_2017 = pd.read_csv('Data/Legislative_Control_Data/Control_readin_csvs/Legis_Control_2017-page-1-table-1.csv')
legis_control_2017.head()

,STATE,Total \nSeats,Total \nSenate \nSenate \nSenate \nSenate\nDem.\nRep.\nother,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Total \nHouse \nHouse \nHouse \nHouse\nDem.\nRep.\nother,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Legis. \nControl,Gov. \nParty,State \nControl
0,Alabama\nAlaska*\nArizona\nArkansas\nCalifornia,140\n60\n90\n135\n120\n100\n187\n62\n160\n236\...,35\n20\n30\n35\n40\n35\n36\n21\n40\n56\n25\n35...,8,26,1,NaN,105,32,72,1v,NaN,Rep,Rep,Rep
1,NaN,NaN,NaN,6,14,NaN,NaN,40,17,21,2,NaN,Rep*,Ind,Divided
2,NaN,NaN,NaN,13,17,NaN,NaN,60,25,35,NaN,NaN,Rep,Rep,Rep
3,NaN,NaN,NaN,9,26,NaN,NaN,100,24,76,NaN,NaN,Rep,Rep,Rep
4,NaN,NaN,NaN,27\n17,13\n18,NaN,NaN,80\n65,55\n37,25\n28,NaN,NaN,Dem\nSplit,Dem\nDem,Dem\nDivided

As we can see, the pdf reader did not do a great job reading in the data into a dataframe. We will need to clean it up to make it usable.

### Data Wrangling

In [5]:
#This next line of code does the following:
#1) Drops null values from the states column
#2) Flattens it out into one list (.ravel)
#3) Gets rid of asterixs
#4) Joins the list into a string splitting up each state with a new line character '\n'
#5) Splits it back up into a list of all 50 states
states = '\n'.join(legis_control_2017['STATE'].dropna().ravel()).replace('*','').split('\n')[0:50]

states.remove('Nebraska') #Removes Nebraska as we will not be studying it due to its unique state legislature

#These next few lines of code follow a similar process to making the states list
senate_dem = '\n'.join(legis_control_2017['Unnamed: 3'].dropna().ravel()).split('\n')[0:49] #Senate Democrats
senate_rep = '\n'.join(legis_control_2017['Unnamed: 4'].dropna().ravel()).split('\n')[0:49] #Senate Republicans
house_dem = '\n'.join(legis_control_2017['Unnamed: 8'].dropna().ravel()).split('\n')[0:49] #House Democrats
house_rep = '\n'.join(legis_control_2017['Unnamed: 9'].dropna().ravel()).split('\n')[0:49] #House Republicans
#No need to get rid of Nebraska data above because it was already null

#this is not the case for the governor though
gov_party = '\n'.join(legis_control_2017['Gov. \nParty'].dropna().ravel()).split('\n')[0:50] #Party of the Governor
gov_party.pop(26) #Get rid of Nebraska's Governor Party

#We want our numeric data to be the data type of integer, not strings
#Next 4 lines of code convert the lists we made into integers
senate_dem = [int(num) for num in senate_dem]
senate_rep = [int(num) for num in senate_rep]
house_dem = [int(num) for num in house_dem]
house_rep = [int(num) for num in house_rep]

In [6]:
legis_2017 = pd.DataFrame() #Data Frame for our 2017 data

#Make columns for wanted data
legis_2017['states'] = states
legis_2017['senate_dem'] = senate_dem
legis_2017['senate_rep'] = senate_rep
legis_2017['house_dem'] = house_dem
legis_2017['house_rep'] = house_rep
legis_2017['gov_party'] = gov_party

legis_2017

            states  senate_dem  senate_rep  house_dem  house_rep gov_party
0          Alabama           8          26         32         72       Rep
1           Alaska           6          14         17         21       Ind
2          Arizona          13          17         25         35       Rep
3         Arkansas           9          26         24         76       Rep
4       California          27          13         55         25       Dem
5         Colorado          17          18         37         28       Dem
6      Connecticut          18          18         79         72       Dem
7         Delaware          11          10         25         16       Dem
8          Florida          15          25         41         79       Rep
9          Georgia          18          38         62        118       Rep
10          Hawaii          25           0         45          6       Dem
11           Idaho           6          29         11         59       Rep
12        Illinois          37          22         67         51       Rep
13         Indiana           9          41         30         70       Rep
14            Iowa          20          29         41         59       Rep
15          Kansas           9          31         40         85       Rep
16        Kentucky          11          27         36         64       Rep
17       Louisiana          14          25         42         60   Rep Dem
18           Maine          17          18         77         72       Rep
19        Maryland          33          14         90         51       Rep
20   Massachusetts          34           6        125         35       Rep
21        Michigan          11          27         47         63       Rep
22       Minnesota          33          34         57         77       Dem
23    Mississippi           20          32         48         74       Rep
24        Missouri           9          25         46        117       Rep
25         Montana          18          32         41         59       Dem
26          Nevada          11           9         27         15       Rep
27   New Hampshire          10          14        175        225       Rep
28      New Jersey          24          16         52         28       Rep
29      New Mexico          26          16         38         32       Rep
30        New York          32          31        107         43       Dem
31  North Carolina          15          35         46         74       Dem
32  North Dakota             9          38         13         81       Rep
33            Ohio           9          24         33         66       Rep
34        Oklahoma           6          42         26         75       Rep
35          Oregon          17          13         35         25       Dem
36    Pennsylvania          16          34         80        122       Dem
37   Rhode Island           33           5         64         10       Dem
38  South Carolina          18          28         44         80       Rep
39    South Dakota           6          29         10         60       Rep
40       Tennessee           5          28         25         74       Rep
41           Texas          11          20         56         94       Rep
42            Utah           5          24         13         62       Rep
43         Vermont          23           7         84         53       Rep
44        Virginia          19          21         34         66       Dem
45      Washington          25          24         50         48       Dem
46   West Virginia          12          22         36         63       Dem
47       Wisconsin          13          20         35         64       Rep
48         Wyoming           3          27          9         51       Rep

All looks well except for Louisiana's governor was not "Rep Dem", they were "Dem"

In [7]:
legis_2017.replace('Rep Dem', 'Dem', inplace = True) #Replace Louisianas governor party with the correct one

In [8]:
legis_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   states      49 non-null     object
 1   senate_dem  49 non-null     int64
 2   senate_rep  49 non-null     int64
 3   house_dem   49 non-null     int64
 4   house_rep   49 non-null     int64
 5   gov_party   49 non-null     object
dtypes: int64(4), object(2)
memory usage: 2.4+ KB

## 2018

In [9]:
#Read in 2018 data
legis_control_2018 = pd.read_csv('Data/Legislative_Control_Data/Control_readin_csvs/Legis_Control_2018-page-1-table-1.csv')
legis_control_2018.head()

,STATE,Total \nSeats,Unnamed: 2,Total \nSenate \nSenate \nSenate \nSenate\nDem.\nRep.\nother,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Total \nHouse \nHouse \nHouse \nHouse\nDem.\nRep.\nother,Unnamed: 9,Unnamed: 10,Unnamed: 11,Legis. \nControl,Gov. \nParty,State \nControl
0,Alabama\nAlaska*\nArizona\nArkansas\nCalifornia,140\n60\n90\n135\n120\n100\n187\n62\n160\n236\...,NaN,35\n20\n30\n35\n40,7,26,"1, 1v",NaN,105,33,70,2v,Rep,Rep,Rep
1,NaN,NaN,NaN,NaN,6,14,NaN,NaN,40,16,21,"2, 1v",Rep*,Ind,Divided
2,NaN,NaN,NaN,NaN,13,16,1v,NaN,60,25,35,NaN,Rep,Rep,Rep
3,NaN,NaN,NaN,NaN,9,24,2v,NaN,100,24,75,1v,Rep,Rep,Rep
4,NaN,NaN,NaN,NaN,27,13,NaN,NaN,80,52,25,3v,Dem,Dem,Dem

Slightly different than 2017 but much of the same process will be used.

### Data Wrangling

In [10]:
#See 2017 data wrangling for explanation of code
senate_dem = '\n'.join(legis_control_2018['Unnamed: 4'].dropna().ravel()).split('\n')[0:49] #Senate Democrats
senate_rep = '\n'.join(legis_control_2018['Unnamed: 5'].dropna().ravel()).split('\n')[0:49] #Senate Republicans
house_dem = '\n'.join(legis_control_2018['Unnamed: 9'].dropna().ravel()).split('\n')[0:49] #House Democrats
house_rep = '\n'.join(legis_control_2018['Unnamed: 10'].dropna().ravel()).split('\n')[0:49] #House Republicans

gov_party = '\n'.join(legis_control_2018['Gov. \nParty'].dropna().ravel()).split('\n')[0:50] #Party of the Governor
gov_party.pop(26) #Get rid of Nebraska's Governor Party

#We want our numeric data to be the data type of integer, not strings
#Next 4 lines of code convert the lists we made into integers
senate_dem = [int(num) for num in senate_dem]
senate_rep = [int(num) for num in senate_rep]
house_dem = [int(num) for num in house_dem]
house_rep = [int(num) for num in house_rep]

In [11]:
legis_2018 = pd.DataFrame() #Data Frame for our 2018 data

#Make columns for wanted data
legis_2018['states'] = states
legis_2018['senate_dem'] = senate_dem
legis_2018['senate_rep'] = senate_rep
legis_2018['house_dem'] = house_dem
legis_2018['house_rep'] = house_rep
legis_2018['gov_party'] = gov_party

legis_2018

            states  senate_dem  senate_rep  house_dem  house_rep gov_party
0          Alabama           7          26         33         70       Rep
1           Alaska           6          14         16         21       Ind
2          Arizona          13          16         25         35       Rep
3         Arkansas           9          24         24         75       Rep
4       California          27          13         52         25       Dem
5         Colorado          16          18         37         27       Dem
6      Connecticut          18          18         78         71       Dem
7         Delaware          11          10         25         16       Dem
8          Florida          15          24         40         76       Rep
9          Georgia          19          36         64        114       Rep
10          Hawaii          25           0         45          5       Dem
11           Idaho           6          29         11         59       Rep
12        Illinois          37          22         66         51       Rep
13         Indiana           9          40         30         70       Rep
14            Iowa          20          29         41         59       Rep
15          Kansas           9          31         40         85       Rep
16        Kentucky          11          27         36         63       Rep
17       Louisiana          14          25         41         61   Rep Dem
18           Maine          17          18         74         70       Rep
19        Maryland          33          14         91         49       Rep
20   Massachusetts          32           7        124         34       Rep
21        Michigan          11          27         47         63       Rep
22       Minnesota          32          34         57         76       Dem
23    Mississippi           19          32         48         73       Rep
24        Missouri           9          25         46        112       Rep
25         Montana          18          32         41         58       Dem
26          Nevada          10           9         27         14       Rep
27   New Hampshire          10          14        175        218       Rep
28      New Jersey          25          15         54         26       Dem
29      New Mexico          26          16         38         32       Rep
30        New York          30          31        103         37       Dem
31  North Carolina          15          35         45         75       Dem
32  North Dakota             9          38         13         81       Rep
33            Ohio           9          24         33         64       Rep
34        Oklahoma           7          40         28         72       Rep
35          Oregon          17          13         35         25       Dem
36    Pennsylvania          16          34         80        120       Dem
37   Rhode Island           33           5         64         11       Dem
38  South Carolina          18          28         44         77       Rep
39    South Dakota           6          29         10         60       Rep
40       Tennessee           5          26         25         73       Rep
41           Texas          11          20         56         94       Rep
42            Utah           5          23         13         61       Rep
43         Vermont          21           7         83         53       Rep
44        Virginia          19          21         49         51       Dem
45      Washington          26          22         50         48       Dem
46   West Virginia          12          22         36         63       Rep
47       Wisconsin          13          18         35         62       Rep
48         Wyoming           3          27          9         51       Rep

Interestingly enough, exact samee issue as 2017 data. Louisina says 'Rep Dem' for the governor when it should just be 'Dem'

In [12]:
legis_2018.replace('Rep Dem', 'Dem', inplace = True) #Replace Louisianas governor party with the correct one

In [13]:
legis_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   states      49 non-null     object
 1   senate_dem  49 non-null     int64
 2   senate_rep  49 non-null     int64
 3   house_dem   49 non-null     int64
 4   house_rep   49 non-null     int64
 5   gov_party   49 non-null     object
dtypes: int64(4), object(2)
memory usage: 2.4+ KB

## 2019

In [14]:
#Read in 2019 data
legis_control_2019 = pd.read_csv('Data/Legislative_Control_Data/Control_readin_csvs/Legis_Control_2019-page-1-table-1.csv')
legis_control_2019.head()

,STATE,Total \nSeats,Unnamed: 2,Total \nSenate \nSenate \nSenate \nSenate\nDem.\nRep.\nother,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Total \nHouse \nHouse \nHouse \nHouse\nDem.\nRep.\nother,Unnamed: 9,Unnamed: 10,Unnamed: 11,Legis. \nControl,Gov. \nParty,State \nControl
0,Alabama\nAlaska\nArizona\nArkansas\nCalifornia,140\n60\n90\n135\n120\n100\n187\n62\n160\n236\...,NaN,35\n20\n30\n35\n40,8,27,NaN,NaN,105,28,77,NaN,Rep,Rep,Rep
1,NaN,NaN,NaN,NaN,7,13,NaN,NaN,40,19,21,NaN,Rep,Rep,Rep
2,NaN,NaN,NaN,NaN,13,17,NaN,NaN,60,29,31,NaN,Rep,Rep,Rep
3,NaN,NaN,NaN,NaN,9,26,NaN,NaN,100,24,76,NaN,Rep,Rep,Rep
4,NaN,NaN,NaN,NaN,29,11,NaN,NaN,80,61,19,NaN,Dem,Dem,Dem

Looks very similar to 2018 and we will take a very similar process again.

### Data Wrangling

In [15]:
#See 2017 data wrangling for explanation of code
senate_dem = '\n'.join(legis_control_2019['Unnamed: 4'].dropna().ravel()).split('\n')[0:49] #Senate Democrats
senate_rep = '\n'.join(legis_control_2019['Unnamed: 5'].dropna().ravel()).split('\n')[0:49] #Senate Republicans
house_dem = '\n'.join(legis_control_2019['Unnamed: 9'].dropna().ravel()).split('\n')[0:49] #House Democrats
house_rep = '\n'.join(legis_control_2019['Unnamed: 10'].dropna().ravel()).split('\n')[0:49] #House Republicans

gov_party = '\n'.join(legis_control_2019['Gov. \nParty'].dropna().ravel()).split('\n')[0:50] #Party of the Governor
gov_party.pop(26) #Get rid of Nebraska's Governor Party

#We want our numeric data to be the data type of integer, not strings
#Next 4 lines of code convert the lists we made into integers
senate_dem = [int(num) for num in senate_dem]
senate_rep = [int(num) for num in senate_rep]
house_dem = [int(num) for num in house_dem]
house_rep = [int(num) for num in house_rep]

In [16]:
legis_2019 = pd.DataFrame() #Data Frame for our 2019 data

#Make columns for wanted data
legis_2019['states'] = states
legis_2019['senate_dem'] = senate_dem
legis_2019['senate_rep'] = senate_rep
legis_2019['house_dem'] = house_dem
legis_2019['house_rep'] = house_rep
legis_2019['gov_party'] = gov_party

legis_2019

            states  senate_dem  senate_rep  house_dem  house_rep gov_party
0          Alabama           8          27         28         77       Rep
1           Alaska           7          13         19         21       Rep
2          Arizona          13          17         29         31       Rep
3         Arkansas           9          26         24         76       Rep
4       California          29          11         61         19       Dem
5         Colorado          19          16         41         24       Dem
6      Connecticut          24          12         92         59       Dem
7         Delaware          12           9         26         15       Dem
8          Florida          17          23         47         73       Rep
9          Georgia          21          35         74        106       Rep
10          Hawaii          24           1         46          5       Dem
11           Idaho           7          28         14         56       Rep
12        Illinois          40          19         74         44       Dem
13         Indiana          10          40         33         67       Rep
14            Iowa          18          32         46         54       Rep
15          Kansas          11          28         40         85       Dem
16        Kentucky          10          28         39         61       Rep
17       Louisiana          14          25         39         63       Dem
18           Maine          21          14         89         57       Dem
19        Maryland          32          15         98         43       Rep
20   Massachusetts          34           6        127         32       Rep
21        Michigan          16          22         52         58       Dem
22       Minnesota          33          34         75         59       Dem
23    Mississippi           19          33         48         74       Rep
24        Missouri          10          24         47        116       Rep
25         Montana          20          30         42         58       Dem
26          Nevada          13           8         29         13       Dem
27   New Hampshire          14          10        234        166       Rep
28      New Jersey          26          14         54         26       Dem
29      New Mexico          26          16         46         24       Dem
30        New York          40          23        107         43       Dem
31  North Carolina          21          29         55         65       Dem
32  North Dakota            10          37         15         79       Rep
33            Ohio           9          24         38         61       Rep
34        Oklahoma           9          39         24         77       Rep
35          Oregon          18          12         38         22       Dem
36    Pennsylvania          21          29         93        110       Dem
37   Rhode Island           33           5         66          9       Dem
38  South Carolina          19          27         44         80       Rep
39    South Dakota           5          30         11         59       Rep
40       Tennessee           5          28         26         73       Rep
41           Texas          12          19         67         83       Rep
42            Utah           6          23         17         58       Rep
43         Vermont          22           6         95         43       Rep
44        Virginia          19          21         49         51       Dem
45      Washington          28          21         57         41       Dem
46   West Virginia          14          20         41         59       Rep
47       Wisconsin          14          19         35         64       Dem
48         Wyoming           3          27          9         50       Rep

Louisiana does not need to be fixed this time!

In [17]:
legis_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   states      49 non-null     object
 1   senate_dem  49 non-null     int64
 2   senate_rep  49 non-null     int64
 3   house_dem   49 non-null     int64
 4   house_rep   49 non-null     int64
 5   gov_party   49 non-null     object
dtypes: int64(4), object(2)
memory usage: 2.4+ KB

## 2020

In [18]:
#Read in 2020 data
legis_control_2020 = pd.read_csv('Data/Legislative_Control_Data/Control_readin_csvs/Legis_Control_2020-page-1-table-1.csv')
legis_control_2020.head()

,STATE,Total \nSeats,Total \nSenate \nSenate \nSenate \nSenate\nDem.\nRep.\nother,Unnamed: 3,Unnamed: 4,Unnamed: 5,Total \nHouse \nHouse \nHouse \nHouse\nDem.\nRep.\nother,Unnamed: 7,Unnamed: 8,Unnamed: 9,Legis. \nControl,Gov. \nParty,State \nControl
0,Alabama\nAlaska\nArizona\nArkansas\nCalifornia,140\n60\n90\n135\n120\n100\n187\n62\n160\n236\...,35\n20\n30\n35\n40,8,27,NaN,105,28,77,NaN,Rep,Rep,Rep
1,NaN,NaN,NaN,7,13,NaN,40,15,23,2,Rep,Rep,Rep
2,NaN,NaN,NaN,13,17,NaN,60,29,31,NaN,Rep,Rep,Rep
3,NaN,NaN,NaN,9,26,NaN,100,24,76,NaN,Rep,Rep,Rep
4,NaN,NaN,NaN,29,10,1v,80,61,18,1,Dem,Dem,Dem

This one looks very similar to 2017 and we will take an almost identical aproach.

### Data Wrangling

In [19]:
#See 2017 data wrangling for explanation of code
senate_dem = '\n'.join(legis_control_2020['Unnamed: 3'].dropna().ravel()).split('\n')[0:49] #Senate Democrats
senate_rep = '\n'.join(legis_control_2020['Unnamed: 4'].dropna().ravel()).split('\n')[0:49] #Senate Republicans
house_dem = '\n'.join(legis_control_2020['Unnamed: 7'].dropna().ravel()).split('\n')[0:49] #House Democrats
house_rep = '\n'.join(legis_control_2020['Unnamed: 8'].dropna().ravel()).split('\n')[0:49] #House Republicans
#No need to get rid of Nebraska data above because it was already null

#this is not the case for the governor though
gov_party = '\n'.join(legis_control_2020['Gov. \nParty'].dropna().ravel()).split('\n')[0:50] #Party of the Governor
gov_party.pop(26) #Get rid of Nebraska's Governor Party

#We want our numeric data to be the data type of integer, not strings
#Next 4 lines of code convert the lists we made into integers
senate_dem = [int(num) for num in senate_dem]
senate_rep = [int(num) for num in senate_rep]
house_dem = [int(num) for num in house_dem]
house_rep = [int(num) for num in house_rep]

In [20]:
legis_2020 = pd.DataFrame() #Data Frame for our 2020 data

#Make columns for wanted data
legis_2020['states'] = states
legis_2020['senate_dem'] = senate_dem
legis_2020['senate_rep'] = senate_rep
legis_2020['house_dem'] = house_dem
legis_2020['house_rep'] = house_rep
legis_2020['gov_party'] = gov_party

legis_2020

            states  senate_dem  senate_rep  house_dem  house_rep gov_party
0          Alabama           8          27         28         77       Rep
1           Alaska           7          13         15         23       Rep
2          Arizona          13          17         29         31       Rep
3         Arkansas           9          26         24         76       Rep
4       California          29          10         61         18       Dem
5         Colorado          19          16         41         24       Dem
6      Connecticut          22          14         91         60       Dem
7         Delaware          12           9         26         15       Dem
8          Florida          17          23         47         73       Rep
9          Georgia          21          35         75        105       Rep
10          Hawaii          24           1         46          5       Dem
11           Idaho           7          28         14         56       Rep
12        Illinois          40          19         74         44       Dem
13         Indiana          10          40         33         67       Rep
14            Iowa          18          32         47         53       Rep
15          Kansas          11          28         41         84       Dem
16        Kentucky           9          29         38         62       Dem
17       Louisiana          12          27         35         68       Dem
18           Maine          21          14         88         57       Dem
19        Maryland          32          15         98         42       Rep
20   Massachusetts          34           4        126         31       Rep
21        Michigan          16          22         52         58       Dem
22       Minnesota          32          35         75         59       Dem
23    Mississippi           16          36         46         74       Rep
24        Missouri           8          23         48        114       Rep
25         Montana          20          30         42         57       Dem
26          Nevada          13           8         28         13       Dem
27   New Hampshire          14          10        234        162       Rep
28      New Jersey          25          15         52         28       Dem
29      New Mexico          26          16         46         24       Dem
30        New York          40          22        104         42       Dem
31  North Carolina          21          29         55         65       Dem
32  North Dakota            10          37         15         78       Rep
33            Ohio           9          24         38         61       Rep
34        Oklahoma           9          38         23         77       Rep
35          Oregon          18          12         37         22       Dem
36    Pennsylvania          21          28         93        110       Dem
37   Rhode Island           33           5         66          9       Dem
38  South Carolina          19          27         44         80       Rep
39    South Dakota           5          30         11         59       Rep
40       Tennessee           5          28         26         73       Rep
41           Texas          12          19         66         84       Rep
42            Utah           6          23         16         59       Rep
43         Vermont          22           6         94         43       Rep
44        Virginia          21          19         55         45       Dem
45      Washington          29          20         57         41       Dem
46   West Virginia          14          20         41         58       Rep
47       Wisconsin          14          19         36         63       Dem
48         Wyoming           3          27          9         50       Rep

Looks good.

In [21]:
legis_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   states      49 non-null     object
 1   senate_dem  49 non-null     int64
 2   senate_rep  49 non-null     int64
 3   house_dem   49 non-null     int64
 4   house_rep   49 non-null     int64
 5   gov_party   49 non-null     object
dtypes: int64(4), object(2)
memory usage: 2.4+ KB

## 2021

In [22]:
#Read in 2021 data
legis_control_2021 = pd.read_csv('Data/Legislative_Control_Data/Control_readin_csvs/Legis_Control_2021-page-1-table-1.csv')
legis_control_2021.head()

,STATE,Total \nSeats,Total \nSenate \nSenate \nSenate \nSenate\nDem.\nRep.\nother,Unnamed: 3,Unnamed: 4,Unnamed: 5,Total \nHouse \nHouse \nHouse \nLeg. \nHouse\nDem.\nRep.\nother\nControl,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Gov. \nParty,State \nControl
0,Alabama\nAlaska\nArizona\nArkansas\nCalifornia,140\n60\n90\n135\n120\n100\n187\n62\n160\n236\...,35\n20\n30\n35\n40\n35\n36\n21\n40\n56\n25\n35...,7,26,2v,105\n40\n60\n100\n80\n65\n151\n41\n120\n180\n5...,28,77,NaN,Rep,Rep,Rep
1,NaN,NaN,NaN,7,13,NaN,NaN,15,21,4,Rep,Rep,Rep
2,NaN,NaN,NaN,14,16,NaN,NaN,28,31,1v,Rep,Rep,Rep
3,NaN,NaN,NaN,7,27,1,NaN,22,78,NaN,Rep,Rep,Rep
4,NaN,NaN,NaN,30,9,1v,NaN,60,19,1,Dem,Dem,Dem

### Data Wrangling

In [23]:
#See 2017 data wrangling for explanation of code
senate_dem = '\n'.join(legis_control_2021['Unnamed: 3'].dropna().ravel()).split('\n')[0:49] #Senate Democrats
senate_rep = '\n'.join(legis_control_2021['Unnamed: 4'].dropna().ravel()).split('\n')[0:49] #Senate Republicans
house_dem = '\n'.join(legis_control_2021['Unnamed: 7'].dropna().ravel()).split('\n')[0:49] #House Democrats
house_rep = '\n'.join(legis_control_2021['Unnamed: 8'].dropna().ravel()).split('\n')[0:49] #House Republicans
#No need to get rid of Nebraska data above because it was already null

#this is not the case for the governor though
gov_party = '\n'.join(legis_control_2021['Gov. \nParty'].dropna().ravel()).split('\n')[0:50] #Party of the Governor
gov_party.pop(26) #Get rid of Nebraska's Governor Party

#We want our numeric data to be the data type of integer, not strings
#Next 4 lines of code convert the lists we made into integers
senate_dem = [int(num) for num in senate_dem]
senate_rep = [int(num) for num in senate_rep]
house_dem = [int(num) for num in house_dem]
house_rep = [int(num) for num in house_rep]

In [24]:
legis_2021 = pd.DataFrame() #Data Frame for our 2020 data

#Make columns for wanted data
legis_2021['states'] = states
legis_2021['senate_dem'] = senate_dem
legis_2021['senate_rep'] = senate_rep
legis_2021['house_dem'] = house_dem
legis_2021['house_rep'] = house_rep
legis_2021['gov_party'] = gov_party

legis_2021

            states  senate_dem  senate_rep  house_dem  house_rep gov_party
0          Alabama           7          26         28         77       Rep
1           Alaska           7          13         15         21       Rep
2          Arizona          14          16         28         31       Rep
3         Arkansas           7          27         22         78       Rep
4       California          30           9         60         19       Dem
5         Colorado          20          15         41         24       Dem
6      Connecticut          23          12         97         54       Dem
7         Delaware          14           7         26         15       Dem
8          Florida          16          24         42         78       Rep
9          Georgia          22          34         76        103       Rep
10          Hawaii          24           1         47          4       Dem
11           Idaho           7          28         12         58       Rep
12        Illinois          41          18         73         45       Dem
13         Indiana          11          39         29         71       Rep
14            Iowa          18          32         41         59       Rep
15          Kansas          11          29         41         84       Dem
16        Kentucky           8          30         25         75       Dem
17       Louisiana          12          27         35         67       Dem
18           Maine          21          13         80         66       Dem
19        Maryland          32          15         99         42       Rep
20   Massachusetts          37           3        128         30       Rep
21        Michigan          16          22         52         58       Dem
22       Minnesota          31          34         70         64       Dem
23    Mississippi           16          36         46         75       Rep
24        Missouri          10          24         48        114       Rep
25         Montana          19          31         33         67       Rep
26          Nevada          12           9         26         16       Dem
27   New Hampshire          10          14        187        213       Rep
28      New Jersey          25          15         52         28       Dem
29      New Mexico          27          15         45         24       Dem
30        New York          43          20        106         43       Dem
31  North Carolina          22          28         51         69       Dem
32  North Dakota             7          40         14         80       Rep
33            Ohio           8          25         35         64       Rep
34        Oklahoma           9          39         19         82       Rep
35          Oregon          18          11         37         23       Dem
36    Pennsylvania          21          27         90        112       Dem
37   Rhode Island           33           5         65         10       Dem
38  South Carolina          16          30         43         81       Rep
39    South Dakota           3          32          8         62       Rep
40       Tennessee           6          27         26         73       Rep
41           Texas          12          19         67         82       Rep
42            Utah           6          23         17         58       Rep
43         Vermont          21           7         93         46       Rep
44        Virginia          21          18         55         45       Dem
45      Washington          29          20         57         41       Dem
46   West Virginia          11          23         23         77       Rep
47       Wisconsin          12          20         38         60       Dem
48         Wyoming           2          28          7         51       Rep

Looks good.

## 2022

In [25]:
#Read in 2022 data
legis_control_2022 = pd.read_csv('Data/Legislative_Control_Data/Control_readin_csvs/Legis_Control_2022-page-1-table-1.csv')
legis_control_2022.head()

,STATE,Total \nSeats,Total \nSenate \nSenate \nSenate \nSenate\nDem.\nRep.\nother,Unnamed: 3,Unnamed: 4,Unnamed: 5,Total \nHouse \nHouse \nHouse \nLeg. \nGov. \nState \nHouse\nDem.\nRep.\nother\nControl\nParty\nControl,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Alabama\nAlaska\nArizona\nArkansas\nCalifornia,140\n60\n90\n135\n120\n100\n187\n62\n160\n236\...,35\n20\n30\n35\n40\n35\n36\n21\n40\n56\n25\n35...,8,27,NaN,105\n40\n60\n100\n80\n65\n151\n41\n120\n180\n5...,28,77,NaN,Rep,Rep,Rep
1,NaN,NaN,NaN,9,11,NaN,NaN,13,21,6,Rep,Rep,Rep
2,NaN,NaN,NaN,14,16,NaN,NaN,29,31,NaN,Rep,Dem,Divided
3,NaN,NaN,NaN,6,29,NaN,NaN,18,82,NaN,Rep,Rep,Rep
4,NaN,NaN,NaN,32,8,NaN,NaN,62,18,NaN,Dem,Dem,Dem

### Data Wrangling

In [26]:
#See 2017 data wrangling for explanation of code
senate_dem = '\n'.join(legis_control_2022['Unnamed: 3'].dropna().ravel()).split('\n')[0:49] #Senate Democrats
senate_rep = '\n'.join(legis_control_2022['Unnamed: 4'].dropna().ravel()).split('\n')[0:49] #Senate Republicans
house_dem = '\n'.join(legis_control_2022['Unnamed: 7'].dropna().ravel()).split('\n')[0:49] #House Democrats
house_rep = '\n'.join(legis_control_2022['Unnamed: 8'].dropna().ravel()).split('\n')[0:49] #House Republicans
#No need to get rid of Nebraska data above because it was already null

#this is not the case for the governor though
gov_party = '\n'.join(legis_control_2022['Unnamed: 11'].dropna().ravel()).split('\n')[0:50] #Party of the Governor
gov_party.pop(26) #Get rid of Nebraska's Governor Party

#We want our numeric data to be the data type of integer, not strings
#Next 4 lines of code convert the lists we made into integers
senate_dem = [int(num) for num in senate_dem]
senate_rep = [int(num) for num in senate_rep]
house_dem = [int(num) for num in house_dem]
house_rep = [int(num) for num in house_rep]

In [27]:
legis_2022 = pd.DataFrame() #Data Frame for our 2020 data

#Make columns for wanted data
legis_2022['states'] = states
legis_2022['senate_dem'] = senate_dem
legis_2022['senate_rep'] = senate_rep
legis_2022['house_dem'] = house_dem
legis_2022['house_rep'] = house_rep
legis_2022['gov_party'] = gov_party

legis_2022

            states  senate_dem  senate_rep  house_dem  house_rep    gov_party
0          Alabama           8          27         28         77          Rep
1           Alaska           9          11         13         21          Rep
2          Arizona          14          16         29         31          Dem
3         Arkansas           6          29         18         82          Rep
4       California          32           8         62         18          Dem
5         Colorado          23          12         46         19          Dem
6      Connecticut          24          12         98         53          Dem
7         Delaware          15           6         26         15          Dem
8          Florida          12          28         35         85          Rep
9          Georgia          23          33         79        101          Rep
10          Hawaii          23           2         45          6          Dem
11           Idaho           7          28         11         59          Rep
12        Illinois          40          19         78         40          Dem
13         Indiana          10          40         30         70          Rep
14            Iowa          16          34         36         64          Rep
15          Kansas          11          29         40         85          Dem
16        Kentucky           7          31         20         80          Dem
17       Louisiana          12          27         33         69          Dem
18           Maine          22          13         82         67          Dem
19        Maryland          34          13        102         39          Dem
20   Massachusetts          37           3        133         26  Dem Dem Dem
21        Michigan          20          18         56         54          Dem
22       Minnesota          34          33         70         64          Dem
23    Mississippi           16          36         42         76          Rep
24        Missouri          10          24         52        111          Rep
25         Montana          16          34         32         68          Rep
26          Nevada          13           8         28         14          Rep
27   New Hampshire          10          14        198        201          Rep
28      New Jersey          24          15         46         34          Dem
29      New Mexico          27          15         45         25          Dem
30        New York          42          21        100         50          Dem
31  North Carolina          20          30         49         71          Dem
32  North Dakota             4          43         12         82          Rep
33            Ohio           7          26         32         67          Rep
34        Oklahoma           8          40         20         81          Rep
35          Oregon          17          12         35         25          Dem
36    Pennsylvania          22          28         99        101          Dem
37   Rhode Island           33           5         65          9          Dem
38  South Carolina          16          30         36         88          Rep
39    South Dakota           4          31          7         63          Rep
40       Tennessee           6          27         24         75          Rep
41           Texas          12          19         64         86          Rep
42            Utah           6          23         14         61          Rep
43         Vermont          22           7        104         38          Rep
44        Virginia          21          18         47         51          Rep
45      Washington          29          20         58         40          Dem
46   West Virginia           3          31         12         88          Rep
47       Wisconsin          11          22         35         64          Dem
48         Wyoming           2          29          5         57          Rep

Looks good except Massachusetts governor should be jus "Dem" and not "Dem Dem Dem".

In [28]:
legis_2022.replace('Dem Dem Dem', 'Dem', inplace = True) #Replace MA gov party with correct value

In [29]:
legis_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   states      49 non-null     object
 1   senate_dem  49 non-null     int64
 2   senate_rep  49 non-null     int64
 3   house_dem   49 non-null     int64
 4   house_rep   49 non-null     int64
 5   gov_party   49 non-null     object
dtypes: int64(4), object(2)
memory usage: 2.4+ KB

## 2023

In [30]:
#Read in 2023 data
legis_control_2023 = pd.read_csv('Data/Legislative_Control_Data/Control_readin_csvs/Legis_Control_2023-page-1-table-1.csv')
legis_control_2023.head()

,STATE,Total \nSeats,Total \nSenate,Senate \nDem.,Senate \nRep.,Senate \nother,Unnamed: 6,Total \nHouse,House \nDem.,House \nRep.,House \nother,Leg. \nControl,Gov. \nParty,State \nControl
0,Alabama\nAlaska\nArizona\nArkansas\nCalifornia,140\n60\n90\n135\n120\n100\n187\n62\n160\n236\...,35,8,27,NaN,NaN,105,28,77,NaN,Rep,Rep,Rep
1,NaN,NaN,20,9,11,NaN,NaN,40,13,21,6,Rep,Rep,Rep
2,NaN,NaN,30,13,16,1v,NaN,60,29,30,1v,Rep,Dem,Divided
3,NaN,NaN,35,6,29,NaN,NaN,100,18,82,NaN,Rep,Rep,Rep
4,NaN,NaN,40,32,8,NaN,NaN,80,62,18,NaN,Dem,Dem,Dem

### Data Wrangling

In [31]:
#See 2017 data wrangling for explanation of code
senate_dem = '\n'.join(legis_control_2023['Senate \nDem.'].dropna().ravel()).split('\n')[0:49] #Senate Democrats
senate_rep = '\n'.join(legis_control_2023['Senate \nRep.'].dropna().ravel()).split('\n')[0:49] #Senate Republicans
house_dem = '\n'.join(legis_control_2023['House \nDem.'].dropna().ravel()).split('\n')[0:49] #House Democrats
house_rep = '\n'.join(legis_control_2023['House \nRep.'].dropna().ravel()).split('\n')[0:49] #House Republicans
#No need to get rid of Nebraska data above because it was already null

#this is not the case for the governor though
gov_party = '\n'.join(legis_control_2023['Gov. \nParty'].dropna().ravel()).split('\n')[0:50] #Party of the Governor
gov_party.pop(26) #Get rid of Nebraska's Governor Party

#We want our numeric data to be the data type of integer, not strings
#Next 4 lines of code convert the lists we made into integers
senate_dem = [int(num) for num in senate_dem]
senate_rep = [int(num) for num in senate_rep]
house_dem = [int(num) for num in house_dem]
house_rep = [int(num) for num in house_rep]

In [32]:
legis_2023 = pd.DataFrame() #Data Frame for our 2023 data

#Make columns for wanted data
legis_2023['states'] = states
legis_2023['senate_dem'] = senate_dem
legis_2023['senate_rep'] = senate_rep
legis_2023['house_dem'] = house_dem
legis_2023['house_rep'] = house_rep
legis_2023['gov_party'] = gov_party

legis_2023

            states  senate_dem  senate_rep  house_dem  house_rep gov_party
0          Alabama           8          27         28         77       Rep
1           Alaska           9          11         13         21       Rep
2          Arizona          13          16         29         30       Dem
3         Arkansas           6          29         18         82       Rep
4       California          32           8         62         18       Dem
5         Colorado          23          12         46         19       Dem
6      Connecticut          24          12         98         53       Dem
7         Delaware          15           6         26         15       Dem
8          Florida          12          28         35         85       Rep
9          Georgia          23          33         80        100       Rep
10          Hawaii          23           2         45          6       Dem
11           Idaho           7          28         11         59       Rep
12        Illinois          40          19         78         40       Dem
13         Indiana          10          40         30         70       Rep
14            Iowa          16          34         36         64       Rep
15          Kansas          11          28         40         85       Dem
16        Kentucky           7          30         19         80       Dem
17       Louisiana          12          27         33         71       Dem
18           Maine          22          13         82         67       Dem
19        Maryland          34          13        102         39       Dem
20   Massachusetts          37           3        132         25       Dem
21        Michigan          20          18         56         54       Dem
22       Minnesota          34          33         70         64       Dem
23    Mississippi           16          36         40         77       Rep
24        Missouri          10          24         51        111       Rep
25         Montana          16          34         32         68       Rep
26          Nevada          13           8         28         14       Rep
27   New Hampshire          10          14        196        200       Rep
28      New Jersey          25          15         46         34       Dem
29      New Mexico          27          15         45         25       Dem
30        New York          42          21        102         48       Dem
31  North Carolina          20          30         48         72       Dem
32  North Dakota             4          43         12         82       Rep
33            Ohio           7          26         32         67       Rep
34        Oklahoma           8          40         20         81       Rep
35          Oregon          17          12         35         25       Dem
36    Pennsylvania          22          28        102        101       Dem
37   Rhode Island           33           5         65          9       Dem
38  South Carolina          16          30         36         88       Rep
39    South Dakota           4          31          7         63       Rep
40       Tennessee           6          27         24         75       Rep
41           Texas          13          18         64         85       Rep
42            Utah           6          23         14         61       Rep
43         Vermont          22           7        104         37       Rep
44        Virginia          22          18         46         50       Rep
45      Washington          29          20         58         40       Dem
46   West Virginia           3          31         11         89       Rep
47       Wisconsin          11          22         35         63       Dem
48         Wyoming           2          29          5         57       Rep

Looks good.

In [152]:
legis_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   states      49 non-null     object
 1   senate_dem  49 non-null     int64
 2   senate_rep  49 non-null     int64
 3   house_dem   49 non-null     int64
 4   house_rep   49 non-null     int64
 5   gov_party   49 non-null     object
dtypes: int64(4), object(2)
memory usage: 2.4+ KB

## Saving Usable Legislative control Data to CSVs

In [33]:
#Converting each cleaned dataframe into a csv to be used for later
legis_2017.to_csv('Data/Legislative_Control_Data/legis_control_2017.csv', index= False)
legis_2018.to_csv('Data/Legislative_Control_Data/legis_control_2018.csv', index= False)
legis_2019.to_csv('Data/Legislative_Control_Data/legis_control_2019.csv', index= False)
legis_2020.to_csv('Data/Legislative_Control_Data/legis_control_2020.csv', index= False)
legis_2021.to_csv('Data/Legislative_Control_Data/legis_control_2021.csv', index= False)
legis_2022.to_csv('Data/Legislative_Control_Data/legis_control_2022.csv', index= False)
legis_2023.to_csv('Data/Legislative_Control_Data/legis_control_2023.csv', index= False)